@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Cormorant';
  src: url('/assets/fonts/Cormorant-VariableFont_wght.ttf');
}


/* Footer */
.custom-el-4 {
    width: 2px;
    background: white;
    height: 150px;
    display: block;
    margin-right: 14px;
    float: left;
}